# Pandas Basics

A high-level overview of the [Pandas](https://pandas.pydata.org) library.

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

plt.style.use('fivethirtyeight')
sns.set_context("notebook")

c:\Users\zbc44\anaconda3\envs\data100\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Reading in DataFrames from Files

Pandas has a number of very useful file reading tools. You can see them enumerated by typing "pd.re" and pressing tab. We'll be using read_csv today.

In [3]:
elections = pd.read_csv("elections.csv")
elections # if we end a cell with an expression or variable name, the result will print

   Candidate        Party     %  Year Result
0     Reagan   Republican  50.7  1980    win
1     Carter   Democratic  41.0  1980   loss
2   Anderson  Independent   6.6  1980   loss
3     Reagan   Republican  58.8  1984    win
4    Mondale   Democratic  37.6  1984   loss
5       Bush   Republican  53.4  1988    win
6    Dukakis   Democratic  45.6  1988   loss
7    Clinton   Democratic  43.0  1992    win
8       Bush   Republican  37.4  1992   loss
9      Perot  Independent  18.9  1992   loss
10   Clinton   Democratic  49.2  1996    win
11      Dole   Republican  40.7  1996   loss
12     Perot  Independent   8.4  1996   loss
13      Gore   Democratic  48.4  2000   loss
14      Bush   Republican  47.9  2000    win
15     Kerry   Democratic  48.3  2004   loss
16      Bush   Republican  50.7  2004    win
17     Obama   Democratic  52.9  2008    win
18    McCain   Republican  45.7  2008   loss
19     Obama   Democratic  51.1  2012    win
20    Romney   Republican  47.2  2012   loss
21   Clinton   Democratic  48.2  2016   loss
22     Trump   Republican  46.1  2016    win

We can use the head command to return only a few rows of a dataframe.

In [4]:
elections.head(10)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss
5      Bush   Republican  53.4  1988    win
6   Dukakis   Democratic  45.6  1988   loss
7   Clinton   Democratic  43.0  1992    win
8      Bush   Republican  37.4  1992   loss
9     Perot  Independent  18.9  1992   loss

There is also a tail command.

In [5]:
elections.tail(7)

   Candidate       Party     %  Year Result
16      Bush  Republican  50.7  2004    win
17     Obama  Democratic  52.9  2008    win
18    McCain  Republican  45.7  2008   loss
19     Obama  Democratic  51.1  2012    win
20    Romney  Republican  47.2  2012   loss
21   Clinton  Democratic  48.2  2016   loss
22     Trump  Republican  46.1  2016    win

The read_csv command lets us specify a column to use an index. For example, we could have used Year as the index.

In [6]:
elections_year_index = pd.read_csv("elections.csv", index_col = "Year")
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

Alternately, we could have used the set_index commmand.

In [7]:
elections_party_index = elections.set_index("Party")
elections_party_index.head(5)

            Candidate     %  Year Result
Party
Republican     Reagan  50.7  1980    win
Democratic     Carter  41.0  1980   loss
Independent  Anderson   6.6  1980   loss
Republican     Reagan  58.8  1984    win
Democratic    Mondale  37.6  1984   loss

The set_index command (along with all other data frame methods) does not modify the dataframe. That is, the original "elections" is untouched. Note: There is a flag called "inplace" which does modify the calling dataframe.

In [8]:
elections.head() #the index remains unchanged

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

By contrast, column names are ideally unique. For example, if we try to read in a file for which column names are not unique, Pandas will automatically rename any duplicates.

In [9]:
dups = pd.read_csv("duplicate_columns.csv")
dups

    name    name.1     flavor
0   john     smith    vanilla
1  zhang      shan  chocolate
2  fulan  alfulani        NaN
3   hong   gildong     banana

## The [] Operator

The DataFrame class has an indexing operator [] that lets you do a variety of different things. If your provide a String to the [] operator, you get back a Series corresponding to the requested label.

In [10]:
elections_year_index.head(6)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss
1988      Bush   Republican  53.4    win

In [11]:
elections_year_index["Candidate"].head(6)

Year
1980      Reagan
1980      Carter
1980    Anderson
1984      Reagan
1984     Mondale
1988        Bush
Name: Candidate, dtype: object

The [] operator also accepts a list of strings. In this case, you get back a DataFrame corresponding to the requested strings.

In [12]:
elections_year_index[["Candidate", "Party"]].head()

     Candidate        Party
Year
1980    Reagan   Republican
1980    Carter   Democratic
1980  Anderson  Independent
1984    Reagan   Republican
1984   Mondale   Democratic

A list of one label also returns a DataFrame. This can be handy if you want your results as a DataFrame, not a series.

In [13]:
elections_year_index[["Candidate"]].head()

     Candidate
Year
1980    Reagan
1980    Carter
1980  Anderson
1984    Reagan
1984   Mondale

Note that we can also use the to_frame method to turn a Series into a DataFrame.

In [14]:
elections_year_index["Candidate"].to_frame().head()

     Candidate
Year
1980    Reagan
1980    Carter
1980  Anderson
1984    Reagan
1984   Mondale

The [] operator also accepts numerical slices as arguments. In this case, we are indexing by row, not column!

In [15]:
elections_year_index[0:3]

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss

If you provide a single argument to the [] operator, it tries to use it as a name. This is true even if the argument passed to [] is an integer.

In [16]:
#elections_year_index[0] #this does not work, try uncommenting this to see it fail in action, woo

The following cells allow you to test your understanding.

In [17]:
weird = pd.DataFrame({
    1:["topdog","botdog"], 
    "1":["topcat","botcat"]
})
weird

        1       1
0  topdog  topcat
1  botdog  botcat

In [18]:
weird[1] #try to predict the output

0    topdog
1    botdog
Name: 1, dtype: object

In [19]:
weird["1"] #try to predict the output

0    topcat
1    botcat
Name: 1, dtype: object

In [20]:
weird[1:] #try to predict the output

        1       1
1  botdog  botcat

## Boolean Array Selection

The `[]` operator also supports array of booleans as an input. In this case, the array must be exactly as long as the number of rows. The result is a filtered version of the data frame, where only rows corresponding to True appear.

In [21]:
elections_year_index

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss
1988      Bush   Republican  53.4    win
1988   Dukakis   Democratic  45.6   loss
1992   Clinton   Democratic  43.0    win
1992      Bush   Republican  37.4   loss
1992     Perot  Independent  18.9   loss
1996   Clinton   Democratic  49.2    win
1996      Dole   Republican  40.7   loss
1996     Perot  Independent   8.4   loss
2000      Gore   Democratic  48.4   loss
2000      Bush   Republican  47.9    win
2004     Kerry   Democratic  48.3   loss
2004      Bush   Republican  50.7    win
2008     Obama   Democratic  52.9    win
2008    McCain   Republican  45.7   loss
2012     Obama   Democratic  51.1    win
2012    Romney   Republican  47.2   loss
2016   Clinton   Democratic  48.2   loss
2016     Trump   Republican  46.1    win

In [22]:
elections_year_index[[False, False, False, False, False, 
          False, False, True, False, False,
          True, False, False, False, True,
          False, False, False, False, False,
          False, False, True]]

     Candidate       Party     % Result
Year
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2016     Trump  Republican  46.1    win

One very common task in Data Science is filtering. Boolean Array Selection is one way to achieve this in Pandas. We start by observing logical operators like the equality operator can be applied to Pandas Series data to generate a Boolean Array. For example, we can compare the 'Result' column to the String 'win':

In [23]:
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

In [24]:
iswin = elections_year_index['Result'] == 'win'
iswin#.head(5)

Year
1980     True
1980    False
1980    False
1984     True
1984    False
1988     True
1988    False
1992     True
1992    False
1992    False
1996     True
1996    False
1996    False
2000    False
2000     True
2004    False
2004     True
2008     True
2008    False
2012     True
2012    False
2016    False
2016     True
Name: Result, dtype: bool

The output of the logical operator applied to the Series is another Series with the same name and index, but of datatype boolean. The entry at row #i represents the result of the application of that operator to the entry of the original Series at row #i.

Such a boolean Series can be used as an argument to the [] operator. For example, the following code creates a DataFrame of all election winners since 1980.

In [25]:
elections_year_index[iswin]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

Above, we've assigned the result of the logical operator to a new variable called `iswin`. This is uncommon. Usually, the series is created and used on the same line. Such code is a little tricky to read at first, but you'll get used to it quickly.

In [26]:
elections_year_index[elections_year_index['Result'] == 'win']

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2012     Obama  Democratic  51.1    win
2016     Trump  Republican  46.1    win

We can select multiple criteria by creating multiple boolean Series and combining them using the `&` operator.

In [27]:
win50plus = (elections_year_index['Result'] == 'win') & (elections_year_index['%'] < 50)

In [28]:
win50plus.head(5)

Year
1980    False
1980    False
1980    False
1984    False
1984    False
dtype: bool

In [29]:
elections_year_index[(elections_year_index['Result'] == 'win')
          & (elections_year_index['%'] < 50)]

# Note for Python experts: The reason we use the & symbol and not the word "and" is because the Python __and__ 
# method overrides the "&" operator, not the "and" operator.

     Candidate       Party     % Result
Year
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win
2000      Bush  Republican  47.9    win
2016     Trump  Republican  46.1    win

The | operator is the symbol for or.

In [30]:
elections_year_index[(elections_year_index['Party'] == 'Republican')
          | (elections_year_index['Party'] == "Democratic")]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss
1984    Reagan  Republican  58.8    win
1984   Mondale  Democratic  37.6   loss
1988      Bush  Republican  53.4    win
1988   Dukakis  Democratic  45.6   loss
1992   Clinton  Democratic  43.0    win
1992      Bush  Republican  37.4   loss
1996   Clinton  Democratic  49.2    win
1996      Dole  Republican  40.7   loss
2000      Gore  Democratic  48.4   loss
2000      Bush  Republican  47.9    win
2004     Kerry  Democratic  48.3   loss
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2008    McCain  Republican  45.7   loss
2012     Obama  Democratic  51.1    win
2012    Romney  Republican  47.2   loss
2016   Clinton  Democratic  48.2   loss
2016     Trump  Republican  46.1    win

If we have multiple conditions (say Republican or Democratic), we can use the isin operator to simplify our code.

In [31]:
elections_year_index['Party'].isin(["Republican", "Democratic"])

Year
1980     True
1980     True
1980    False
1984     True
1984     True
1988     True
1988     True
1992     True
1992     True
1992    False
1996     True
1996     True
1996    False
2000     True
2000     True
2004     True
2004     True
2008     True
2008     True
2012     True
2012     True
2016     True
2016     True
Name: Party, dtype: bool

In [32]:
elections_year_index[elections_year_index['Party'].isin(["Republican", "Democratic"])]

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1980    Carter  Democratic  41.0   loss
1984    Reagan  Republican  58.8    win
1984   Mondale  Democratic  37.6   loss
1988      Bush  Republican  53.4    win
1988   Dukakis  Democratic  45.6   loss
1992   Clinton  Democratic  43.0    win
1992      Bush  Republican  37.4   loss
1996   Clinton  Democratic  49.2    win
1996      Dole  Republican  40.7   loss
2000      Gore  Democratic  48.4   loss
2000      Bush  Republican  47.9    win
2004     Kerry  Democratic  48.3   loss
2004      Bush  Republican  50.7    win
2008     Obama  Democratic  52.9    win
2008    McCain  Republican  45.7   loss
2012     Obama  Democratic  51.1    win
2012    Romney  Republican  47.2   loss
2016   Clinton  Democratic  48.2   loss
2016     Trump  Republican  46.1    win

An alternate simpler way to get back a specific set of rows is to use the `query` command.

In [33]:
elections_year_index.query?

Signature:
elections_year_index.query(
    expr: 'str',
    *,
    inplace: 'bool' = False,
    **kwargs,
) -> 'DataFrame | None'
Docstring:
Query the columns of a DataFrame with a boolean expression.

Parameters
----------
expr : str
    The query string to evaluate.

    You can refer to variables
    in the environment by prefixing them with an '@' character like
    ``@a + b``.

    You can refer to column names that are not valid Python variable names
    by surrounding them in backticks. Thus, column names containing spaces
    or punctuations (besides underscores) or starting with digits must be
    surrounded by backticks. (For example, a column named "Area (cm^2)" would
    be referenced as ```Area (cm^2)```). Column names which are Python keywords
    (like "list", "for", "import", etc) cannot be used.

    For example, if one of your columns is called ``a a`` and you want
    to sum it with ``b``, your query should be ```a a` + b``.

    .. versionadded:: 0.25.0
        Backtick quoting introduced.

    .. versionadded:: 1.0.0
        Expanding functionality of backtick quoting for more than only spaces.

inplace : bool
    Whether to modify the DataFrame rather than creating a new one.
**kwargs
    See the documentation for :func:`eval` for complete details
    on the keyword arguments accepted by :meth:`DataFrame.query`.

Returns
-------
DataFrame or None
    DataFrame resulting from the provided query expression or
    None if ``inplace=True``.

See Also
--------
eval : Evaluate a string describing operations on
    DataFrame columns.
DataFrame.eval : Evaluate a string describing operations on
    DataFrame columns.

Notes
-----
The result of the evaluation of this expression is first passed to
:attr:`DataFrame.loc` and if that fails because of a
multidimensional key (e.g., a DataFrame) then the result will be passed
to :meth:`DataFrame.__getitem__`.

This method uses the top-level :func:`eval` function to
evaluate the passed query.

The :meth:`~pandas.DataFrame.query` method uses a slightly
modified Python syntax by default. For example, the ``&`` and ``|``
(bitwise) operators have the precedence of their boolean cousins,
:keyword:`and` and :keyword:`or`. This *is* syntactically valid Python,
however the semantics are different.

You can change the semantics of the expression by passing the keyword
argument ``parser='python'``. This enforces the same semantics as
evaluation in Python space. Likewise, you can pass ``engine='python'``
to evaluate an expression using Python itself as a backend. This is not
recommended as it is inefficient compared to using ``numexpr`` as the
engine.

The :attr:`DataFrame.index` and
:attr:`DataFrame.columns` attributes of the
:class:`~pandas.DataFrame` instance are placed in the query namespace
by default, which allows you to treat both the index and columns of the
frame as a column in the frame.
The identifier ``index`` is used for the frame index; you can also
use the name of the index to identify it in a query. Please note that
Python keywords may not be used as identifiers.

For further details and examples see the ``query`` documentation in
:ref:`indexing <indexing.query>`.

*Backtick quoted variables*

Backtick quoted variables are parsed as literal Python code and
are converted internally to a Python valid identifier.
This can lead to the following problems.

During parsing a number of disallowed characters inside the backtick
quoted string are replaced by strings that are allowed as a Python identifier.
These characters include all operators in Python, the space character, the
question mark, the exclamation mark, the dollar sign, and the euro sign.
For other characters that fall outside the ASCII range (U+0001..U+007F)
and those that are not further specified in PEP 3131,
the query parser will raise an error.
This excludes whitespace different than the space character,
but also the hashtag (as it is used for comments) and the backtick
itself (backtick can also not be escaped).

In a special case, quotes that make a pair around a backtick can
confuse the parser.
For example, ```it's` > `that's``` will raise an error,
as it forms a quoted string (``'s > `that'``) with a backtick inside.

See also the Python documentation about lexical analysis
(https://docs.python.org/3/reference/lexical_analysis.html)
in combination with the source code in :mod:`pandas.core.computation.parsing`.

Examples
--------
>>> df = pd.DataFrame({'A': range(1, 6),
...                    'B': range(10, 0, -2),
...                    'C C': range(10, 5, -1)})
>>> df
   A   B  C C
0  1  10   10
1  2   8    9
2  3   6    8
3  4   4    7
4  5   2    6
>>> df.query('A > B')
   A  B  C C
4  5  2    6

The previous expression is equivalent to

>>> df[df.A > df.B]
   A  B  C C
4  5  2    6

For columns with spaces in their name, you can use backtick quoting.

>>> df.query('B == `C C`')
   A   B  C C
0  1  10   10

The previous expression is equivalent to

>>> df[df.B == df['C C']]
   A   B  C C
0  1  10   10
File:      c:\users\zbc44\anaconda3\envs\data100\lib\site-packages\pandas\core\frame.py
Type:      method

In [34]:
elections_year_index.query("Result == 'win' and Year < 2000")

     Candidate       Party     % Result
Year
1980    Reagan  Republican  50.7    win
1984    Reagan  Republican  58.8    win
1988      Bush  Republican  53.4    win
1992   Clinton  Democratic  43.0    win
1996   Clinton  Democratic  49.2    win

## Label-based access with `loc`

In [35]:
elections.head(5)

  Candidate        Party     %  Year Result
0    Reagan   Republican  50.7  1980    win
1    Carter   Democratic  41.0  1980   loss
2  Anderson  Independent   6.6  1980   loss
3    Reagan   Republican  58.8  1984    win
4   Mondale   Democratic  37.6  1984   loss

In [36]:
elections.loc[[0, 1, 2, 3, 4], ['Candidate','Party', 'Year']]

  Candidate        Party  Year
0    Reagan   Republican  1980
1    Carter   Democratic  1980
2  Anderson  Independent  1980
3    Reagan   Republican  1984
4   Mondale   Democratic  1984

Note: The `loc` command won't work with numeric arguments if we're using the elections DataFrame that was indexed by year.

In [37]:
elections_year_index.head(5)

     Candidate        Party     % Result
Year
1980    Reagan   Republican  50.7    win
1980    Carter   Democratic  41.0   loss
1980  Anderson  Independent   6.6   loss
1984    Reagan   Republican  58.8    win
1984   Mondale   Democratic  37.6   loss

In [38]:
#causes error
elections_year_index.loc[[0, 1, 2, 3, 4], ['Candidate','Party']]#

KeyError: "None of [Int64Index([0, 1, 2, 3, 4], dtype='int64', name='Year')] are in the [index]"

In [ ]:
elections_year_index.loc[[1980, 1984], ['Candidate','Party']]

Loc also supports slicing (for all types, including numeric and string labels!). Note that the slicing for loc is **inclusive**, even for numeric slices.

In [ ]:
elections.loc[0:4, 'Candidate':'Year']

In [ ]:
elections_year_index.loc[1980:1984, 'Candidate':'Party']

If we provide only a single label for the column argument, we get back a Series.

In [ ]:
elections.loc[0:4, 'Candidate']

If we want a data frame instead and don't want to use to_frame, we can provde a list containing the column name.

In [ ]:
elections.loc[0:4, ['Candidate']]

If we give only one row but many column labels, we'll get back a Series corresponding to a row of the table. This new Series has a neat index, where each entry is the name of the column that the data came from.

In [ ]:
elections.head(1)

In [ ]:
elections.loc[0, 'Candidate':'Year']

In [ ]:
elections.loc[[0], 'Candidate':'Year']

If we omit the column argument altogether, the default behavior is to retrieve all columns.

In [ ]:
elections.loc[[2, 4, 5]]

Loc also supports boolean array inputs instead of labels. The Boolean arrays _must_ be of the same length as the row/column shape of the dataframe, respectively (in versions prior to 0.25, Pandas used to allow size mismatches and would assume the missing values were all False, [this was changed in 2019](https://github.com/pandas-dev/pandas/pull/26911)).

In [ ]:
elections.loc[[True, False, False, True, False, False, True, True, True, False, False, True, 
               True, True, False, True, True, False, False, False, True, False, False], # row mask
              [True, False, False, True, True] # column mask
             ]

In [ ]:
elections.loc[[0, 3], ['Candidate', 'Year']]

We can use boolean array arguments for one axis of the data, and labels for the other.

In [ ]:
elections.loc[[True, False, False, True, False, False, True, True, True, False, False, True, 
               True, True, False, True, True, False, False, False, True, False, False], # row mask
              
              'Candidate':'%' # column label slice
             ]

A student asks what happens if you give scalar arguments for the requested rows AND columns. The answer is that you get back just a single value.

In [ ]:
elections.loc[15, '%']

## Positional access with `iloc`

loc's cousin iloc is very similar, but is used to access based on numerical position instead of label. For example, to access to the top 3 rows and top 3 columns of a table, we can use [0:3, 0:3]. iloc slicing is **exclusive**, just like standard Python slicing of numerical values.

In [ ]:
elections.head(5)

In [ ]:
elections.iloc[:3, 2:]

We will use both loc and iloc in the course. Loc is generally preferred for a number of reasons, for example: 

1. It is harder to make mistakes since you have to literally write out what you want to get.
2. Code is easier to read, because the reader doesn't have to know e.g. what column #31 represents.
3. It is robust against permutations of the data, e.g. the social security administration switches the order of two columns.

However, iloc is sometimes more convenient. We'll provide examples of when iloc is the superior choice.

## Quick Challenge

Which of the following expressions return DataFrame of the first 3 Candidate and Year for candidates that won with more than 50% of the vote.

In [ ]:
elections.head(10)

In [ ]:
elections.iloc[[0, 3, 5], [0, 3]]

In [ ]:
elections.loc[[0, 3, 5], "Candidate":"Year"]

In [ ]:
elections.loc[elections["%"] > 50, ["Candidate", "Year"]].head(3)

In [ ]:
elections.loc[elections["%"] > 50, ["Candidate", "Year"]].iloc[0:2, :]

## Sampling

Pandas dataframes also make it easy to get a sample. We simply use the `sample` method and provide the number of samples that we'd like as the arugment. Sampling is done without replacement by default. Set `replace=True` if you want replacement.

In [ ]:
elections.sample(10)

In [ ]:
elections.query("Year < 1992").sample(50, replace=True)

## Handy Properties and Utility Functions for Series and DataFrames

#### Python Operations on Numerical DataFrames and Series

Consider a series of only the vote percentages of election winners.

In [ ]:
winners = elections.query("Result == 'win'")["%"]
winners

We can perform various Python operations (including numpy operations) to DataFrames and Series.

In [ ]:
max(winners)

In [ ]:
np.mean(winners)

We can also do more complicated operations like computing the mean squared error, i.e. the average L2 loss. (This will mean more in the next few weeks.)

In [ ]:
c = 50.38
mse = np.mean((c - winners)**2)
mse

In [ ]:
c2 = 50.35
mse2 = np.mean((c2 - winners)**2)
mse2

We can also apply mathematical operations to a DataFrame so long as it has only numerical data.

In [ ]:
(elections[["%", "Year"]] + 3).head(5)

#### Handy Utility Methods

The head, shape, size, and describe methods can be used to quickly get a good sense of the data we're working with. For example:

In [ ]:
mottos = pd.read_csv("mottos.csv", index_col="State")

In [ ]:
mottos.head(20)

In [ ]:
mottos.size

The fact that the size is 200 means our data file is relatively small, with only 200 total entries.

In [ ]:
mottos.shape

Since we're looking at data for states, and we see the number 50, it looks like we've mostly likely got a complete dataset that omits Washington D.C. and U.S. territories like Guam and Puerto Rico.

In [ ]:
mottos.describe()

Above, we see a quick summary of all the data. For example, the most common language for mottos is Latin, which covers 23 different states. Does anything else seem surprising?

We can get a direct reference to the index using .index.

In [ ]:
mottos.index

We can also access individual properties of the index, for example, `mottos.index.name`.

In [ ]:
mottos.index.name

This reflects the fact that in our data frame, the index IS the state name!

In [ ]:
mottos.head(2)

It turns out the columns also have an Index. We can access this index by using `.columns`.

In [ ]:
mottos.head(2)

There are also a ton of useful utility methods we can use with Data Frames and Series. For example, we can create a copy of a data frame sorted by a specific column using `sort_values`.

In [ ]:
elections.sort_values('%', ascending=False)

As mentioned before, all Data Frame methods return a copy and do **not** modify the original data structure, unless you set inplace to True.

In [ ]:
elections.head(5)

If we want to sort in reverse order, we can set `ascending=False`.

In [ ]:
elections.sort_values('%', ascending=False)

We can also use `sort_values` on Series objects.

In [ ]:
mottos['Language'].sort_values(ascending=False).head(10)

For Series, the `value_counts` method is often quite handy.

In [ ]:
elections['Party'].value_counts()

In [ ]:
mottos['Language'].value_counts()

Also commonly used is the `unique` method, which returns all unique values as a numpy array.

In [ ]:
mottos['Language'].unique()

## Baby Names Data

Now let's play around a bit with a large baby names dataset that is publicly available. We'll start by loading that dataset from the social security administration's website.

To keep the data small enough to avoid crashing datahub, we're going to look at only California rather than looking at the national dataset.

In [39]:
import urllib.request
import os.path
import zipfile

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # if the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'CA.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.sample(5)

       State Sex  Year      Name  Count
119106    CA   F  1991  Khadijah      7
120903    CA   F  1992    Shelbi     39
49863     CA   F  1964    Jolene     49
159085    CA   F  2002     Janey      8
360181    CA   M  2007       Tam      5

Goal 1: Find the most popular baby name in California in 2018

In [40]:
babynames[babynames["Year"] == 2018].sort_values(by = "Count", ascending = False).head(5)

       State Sex  Year    Name  Count
221179    CA   F  2018    Emma   2746
389400    CA   M  2018    Noah   2571
221180    CA   F  2018     Mia   2502
221181    CA   F  2018  Olivia   2467
389401    CA   M  2018    Liam   2415

In [41]:
most_common_count = babynames[babynames["Year"] == 2018].sort_values(by = "Count", ascending = False).iloc[0]["Count"]
most_common_count

2746

Goal 2: Baby names that start with j. Hard to do with today's tools.

Goal 3: Name whose popularity has changed the most. Also tough.

These goals are hard with our tools so far. Will discuss next ime.